/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

$color-light-blue: #9AC2C9;
$color-cambridge-blue: #B9D8C2;
$color-cadet-grey: #8AA1B1;
$color-rifle-grey: #4A5043;
$color-sunglow: #FFCB47;


$color-primary: #9AC2C9;
$color-secondary: #8AA1B1;
$color-ternary: #FFCB47;
$color-quaternary: #4A5043;
$color-text: #4A5043;

body {
  font-family: "Lato", sans-serif;
  color: $color-quaternary;
  h1 {
    color: $color-primary;
  }
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-secondary;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  display: block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: $color-cambridge-blue;
  display: block;
}

.sidenav a:hover {
  color: $color-rifle-grey;
  background-color: transparent;
}

.main {
  margin-left: 170px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

// /////////////////////

a:hover {
  color: $color-rifle-grey;
  background-color: transparent;
}

.icon-button,
.icon-button:visited {
  color: $color-secondary;
  font-size: 15px;
}